*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;
   
}
.corpo-maquina{
    position: absolute;
    background-color: #fff;
    /* top: 50%; */
    left: 20%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ff8c00;
    align-items: center;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 2.5rem;
    margin-bottom: 12px;
}
strong{
    color: #ff8c00;
    font-size: 2rem;
}
.txt{
    font-size: 1.5rem;
}
.txt::after{
    content: "";
    display: block;
    width: 10rem;
    height: 0.2rem;
    background-color: #000009;
    margin-top: 5px;
    position: absolute;
    border-radius: 10px;
}
.txt::before{
    content: "";
    display: block;
    width: 8rem;
    height: 0.2rem;
    right: 25px;
    background-color: #ff8c00;
    position: absolute;
    border-radius: 10px;
}
.tela{
    display: flex;
    width: 100%;
    height: 60px;
    padding: 15px;
    border: 1px solid #000009;
    margin-bottom: 5px;
    align-items: last baseline;
    justify-content: flex-end;
    font-size: 2rem;
    font-weight: 500;
    background-color: #000009;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    text-align: right;
}
.botao{
    width: 64px;
    height: 64px;
    font-size: 2.2rem;
    cursor: pointer;
    background-color: #ff8c00;
    color: #000009;
    border: none;
}
.botao:hover{
    opacity: 0.8;
}
.igual{
    height: 130px;
}
.zero{
    width: 130px;
}
table{
    width: 100%;
    
}
/*======== historico ========*/
.corpo-Historico{
    position: absolute;
    width: 350px;
    background-color: #fff;
    right: 30%;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #ff8c00;
    align-items: center;
}
.hide2{
    display: none;

}
.tela-hist{
    display: flex;
    width: 100%;
    height: 200px;
    padding: 15px;
    border: 1px solid #000009;
    margin-bottom: 5px;
    align-items: last baseline;
    justify-content: flex-end;
    font-size: 1.2rem;
    font-weight: 500;
    color: #000009;
    cursor: pointer;
}

.historico{
    padding-top: 10px;
    cursor: pointer;
    text-transform: capitalize;
}
.historico:hover{
    border-bottom: 1px solid #ff8c00;
}
.btn-feichar{
    background: #ff8c00;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}
.titulo-historico{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}
.historico-lista{
    font-size: 1rem;
}